In [10]:
import sqlite3
import pandas as pd
import config

In [11]:
conn = sqlite3.connect(config.EXPERIMENT_DATABASE_FILE)

In [12]:
# Function to query data from a table
def get_table(conn, table_name):
    query = f"SELECT * FROM {table_name}"
    return pd.read_sql_query(query, conn)

In [ ]:
# Query each table and assign to separate DataFrame variables
df_pre_questionnaire = get_table(conn, 'pre_questionnaire')
df_experiment_feedback = get_table(conn, 'experiment_feedback')
df_post_questionnaire = get_table(conn, 'post_questionnaire')

# Close the connection
conn.close()

In [14]:
# Examine each DataFrame
print("Pre-Questionnaire Data:")
df_pre_questionnaire.head()  # Display the first few rows

Pre-Questionnaire Data:

   id user_name  age  gender prior_experience familiarity
0   1      dwef   18  Female              Yes      Novice

In [15]:
print("\nExperiment Feedback Data:")
df_experiment_feedback.head()

Experiment Feedback Data:

,id,user_name,timestamp,image_path,clear_percentage,cloudy_percentage,amber_percentage,maturity_level,time_taken_seconds
0,1,dwef,2024-01-13 12:14:32,/sise/home/etaylor/images/raw_images/week5_18_...,0,0,100,10,52.82
1,2,dwef,2024-01-13 12:14:33,/sise/home/etaylor/images/raw_images/week5_18_...,0,0,100,10,0.86
2,3,dwef,2024-01-13 12:14:33,/sise/home/etaylor/images/raw_images/week5_18_...,0,0,100,10,0.81
3,4,dwef,2024-01-13 12:14:34,/sise/home/etaylor/images/raw_images/week5_18_...,0,0,100,10,0.79

In [16]:
print("\nPost-Questionnaire Data:")
df_post_questionnaire.head()

Post-Questionnaire Data:

,id,user_name,difficulty,experience_level,cultivation_purpose,vision_quality,ui_feedback,confidence,educational_background,technical_expertise,time_of_day,image_impressions,suggestions,assistive_devices,additional_comments
0,1,dwef,Very Hard,None,Medicinal,No,ee,50,cc,3,Morning,bb,aa,1,gg